################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/backend/.vs/OnlineShop
/backend/OnlineShop.API/bin/Debug/net8.0
/backend/OnlineShop.API/obj
/backend/OnlineShop.Application/bin/Debug/net8.0
/backend/OnlineShop.Application/obj/OnlineShop.Application.csproj.nuget.dgspec.json
/backend/OnlineShop.Application/obj/OnlineShop.Application.csproj.nuget.g.props
/backend/OnlineShop.Application/obj/project.assets.json
/backend/OnlineShop.Application/obj/project.nuget.cache
/backend/OnlineShop.Domain/obj/OnlineShop.Domain.csproj.nuget.dgspec.json
/backend/OnlineShop.Domain/obj/OnlineShop.Domain.csproj.nuget.g.props
/backend/OnlineShop.Domain/obj/project.assets.json
/backend/OnlineShop.Domain/obj/project.nuget.cache
