################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Bakend/online-shop/.vs/online-shop
/Bakend/online-shop/online-shop.API/appsettings.Development.json
/Bakend/online-shop/online-shop.Persistence/Migrations
