@font-face {
    font-family: 'vazir';
    src: url('./assets/fonts/number/vazir.eot') format('eot');
    src : url('./assets/fonts/number/vazir.ttf') format('truetype'),
    url('./assets/fonts/number/vazir.woff') format('woff');
}

@font-face {
    font-family: "lalezar";
    src: url(./assets/fonts/lalezar/Lalezar-Regular.ttf) format("ttf"),
      url(./assets/fonts/lalezar/Lalezar-Regular.woff) format("woff");
}

@font-face {
  font-family: 'ravi';
  font-style: normal;
  font-weight: 100;
  src: url('./assets/fonts/ravi/Ravi-Thin.woff') format('woff'),
      url('./assets/fonts/ravi/Ravi-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'ravi';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/ravi/Ravi-Light.woff') format('woff'),
      url('./assets/fonts/ravi/Ravi-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'ravi';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/ravi/Ravi-Medium.woff') format('woff'),
      url('./assets/fonts/ravi/Ravi-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'ravi';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/ravi/Ravi-SemiBold.woff') format('woff'),
      url('./assets/fonts/ravi/Ravi-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'ravi';
  font-style: normal;
  font-weight: 900;
  src: url('./assets/fonts/ravi/Ravi-ExtraBold.woff') format('woff'),
      url('./assets/fonts/ravi/Ravi-ExtraBold.woff2') format('woff2');
}

html {
  direction: rtl;
  scroll-behavior: smooth;

}

body{
  @apply bg-customBg;
  font-family: ravi;
}

.font-lale {
    font-family: lalezar;
}

.font-ravi {
  font-family: ravi;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #c5c5c5 #f6f6f6;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #f6f6f6;
}

*::-webkit-scrollbar-thumb {
  background-color: #c5c5c5;
  border-radius: 20px;
  border: 3px solid #f6f6f6;
}