@using Microsoft.Extensions.Options
@using online_shop.API.Utilities
@using online_shop.Domain.User

@inject IOptions<AppSetting> _appSetting
@model User

<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.cdnfonts.com/css/iranian-sans" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/lalezar" rel="stylesheet">
    <title>فروشگاه | فراموشی کلمه عبور</title>
</head>

<!-- Start Body -->
<body style="direction: rtl; box-sizing: border-box; font-weight: 500; font-family: Vazirmatn;">
    <!-- Main Card -->
    <section style="width: 100%; padding: 40px 0; display: flex; align-items: center; justify-content: center; border-radius: 15px; box-sizing: border-box; padding: 0; margin: 0;">
        <div style="width: 100%; display: flex; justify-content: center; padding: 0 15px;">
            <div style="display: flex; justify-content: center; margin-left: -15px; margin-right: -15px;">
                <div style="flex: 0 0 41.666667%; width: 41.666667%;">
                    <div class="mainCard" style="width: 100%; border-radius: 15px; ">
                        <div>
                            <!-- Card Header -->
                            <div style="width: 100%; position: relative; padding-left: 15px; padding-right: 15px; flex: 0 0 100%; width: 100%; background-color: #AEE7E8; border-radius: 15px 15px 0 0; background: url('https://img.freepik.com/free-vector/gradient-dynamic-blue-lines-background_23-2148995756.jpg'); background-repeat: no-repeat; background-size: cover;">
                                <div class="cardHeader" style="width: 100%; text-align: center; padding: 25px 8px;">
                                    <h1 style="font-family: Lalezar; color: #fff; font-size: 45px; animation: zoom-in-zoom-out 2s ease-out infinite; margin: 0;">فروشگــــــاه</h1>
                                    <h3 style="font-family: Vazirmatn; padding-top: 15px; color: #e1e1e1; margin: 0;">بـــازیابی کلمه عبور</h3>
                                </div>
                            </div>
                            <!-- Card Main -->
                            <div style="width: 100%; position: relative; padding-left: 15px; padding-right: 15px; flex: 0 0 100%; width: 100%; background-color: #fff; border-left: 1px solid #e1e1e1; border-right: 1px solid #e1e1e1; border-bottom: 1px solid #e1e1e1;">
                                <div class="cardMain" style="width: 100%; background-color: #fff; padding: 20px 27px; box-sizing: border-box;">
                                    <div class="inputBox" style="width: 100%;">
                                        <label style="font-family: Vazirmatn; font-size: 15px;">سلام</label>
                                        <span style="font-family: Vazirmatn; font-size: 15px; color: #28C3D4;">@Model.UserName</span>
                                        <span style="font-family: Vazirmatn; font-size: 15px;">عزیز،</span>
                                    </div>
                                    <div class="cardContent" style="text-align: center;">
                                        <p style="font-family: Vazirmatn; font-size: 13px; text-align: start; padding-top: 15px; margin-bottom: 10px; line-height: 28px; text-align: justify;">ما درخواست شما برای تغییر رمز عبور حساب کاربری شما را دریافت کردیم. به منظور حفظ امنیت و حریم خصوصی شما، ما لینکی برای تنظیم مجدد رمز عبور به این ایمیل ارسال کرده‌ایم. لطفاً با کلیک بر روی دکمه زیر، وارد صفحه بازیابی رمز عبور شوید:</p>
                                        <a href="@_appSetting.Value.BaseUrlUI/setupNewPassword?code=@Model.ActiveCodeEmail" style="text-decoration: none; font-family: Vazirmatn; margin-top: 25px; padding: 5px 13px; border: none; border-radius: 5px; width: 160px; color: #fff; border: 2px solid #28C3D4; cursor: pointer; font-weight: 600; background-color: #28C3D4;">ثبت کلمه عبور جدید</a>
                                        <p style="font-family: Vazirmatn; font-size: 13px; text-align: start; padding-top: 15px;">اگر لینک بالا مشکل دارد، لطفاً این لینک را کپی کرده و در مرورگر خود جایگذاری کنید: <a style="cursor: pointer; color: #28C3D4;">[لینک تایید]</a></p>
                                        <p style="font-family: Vazirmatn; font-size: 13px; text-align: start; padding-bottom: 5px;"><span style="color: red;"><i class="fa-solid fa-triangle-exclamation"></i> توجه:</span> اگر شما این درخواست را انجام نداده‌اید، لطفاً این ایمیل را نادیده بگیرید یا با تیم پشتیبانی ما تماس بگیرید تا از حساب شما محافظت کنیم.</p>
                                        <h6 style="font-family: Vazirmatn; text-align: left; font-size: 13px; font-weight: 500; padding-top: 20px; color: #28C3D4;">با تشکر، تیم پشتیبانی فروشگاه لورم ایپسوم</h6>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Footer -->
                            <div style="width: 100%; position: relative; padding-left: 15px; padding-right: 15px; flex: 0 0 100%; border-radius: 0 0 15px 15px; background-color: #2873D4; padding-top: 10px; padding-bottom: 10px;">
                                <div style="display: flex; justify-content: space-evenly; padding-bottom: 20px;">
                                    <div style="width: 48%; text-align: center; margin-left: 10px;">
                                        <h3 style="color: #e1e1e1; border-bottom: 2px solid #e1e1e1; padding-bottom: 5px;">تماس با ما</h3>
                                        <ul style="list-style: none;">
                                            <li><a href="javascript:void(0)" style="text-decoration: none; color: #fff;">آدرس سایت: www.onlineShop.com</a></li>
                                            <li style="padding-top: 5px;"><a href="javascript:void(0)" style="text-decoration: none; color: #fff;">ایمیل: onlineshop@gmail.com</a></li>
                                            <li style="padding-top: 5px;"><a href="javascript:void(0)" style="text-decoration: none; color: #fff;">شماره تماس: ٩٥٧****۰۹۳۶</a></li>
                                        </ul>
                                    </div>
                                    <div style="width: 48%; text-align: center;">
                                        <h3 style="color: #e1e1e1; border-bottom: 2px solid #e1e1e1; padding-bottom: 5px;">ما را دنبال کنید در</h3>
                                        <ul style="display: flex; align-items: center; justify-content: space-evenly; list-style: none; padding-right: 0;">
                                            <li><a href="javascript:void(0)" style="text-decoration: none; color: #fff;"></a></li>
                                            <li style="padding-top: 5px;"><a href="javascript:void(0)" style="text-decoration: none; color: #fff;"><img src="https://assets.unlayer.com/projects/0/1728191140638-image-5.png" alt="instagram" width="30px"></a></li>
                                            <li style="padding-top: 5px;"><a href="javascript:void(0)" style="text-decoration: none; color: #fff;"><img src="https://assets.unlayer.com/projects/0/1728191204964-image-1.png" alt="twitter" width="30px"></a></li>
                                            <li style="padding-top: 5px;"><a href="javascript:void(0)" style="text-decoration: none; color: #fff;"><img src="https://assets.unlayer.com/projects/0/1728191247235-image-3.png" alt="faceBook" width="30px"></a></li>
                                            <li style="padding-top: 5px;"><a href="javascript:void(0)" style="text-decoration: none; color: #fff;"><img src="https://assets.unlayer.com/projects/0/1728191405152-image-2.png" alt="linkedin" width="30px"></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div style="width: 100%; text-align: center; display: flex; align-items: center; justify-content: space-between; border-top: 2px solid #e1e1e1;">
                                    <div>
                                        <a href="javascript:void(0)" style="color: #fff; text-decoration: none; font-size: 12px;">خانه |</a>
                                        <a href="javascript:void(0)" style="color: #fff; text-decoration: none; font-size: 12px;"> محصولات |</a>
                                        <a href="javascript:void(0)" style="color: #fff; text-decoration: none; font-size: 12px;">درباره ما |</a>
                                        <a href="javascript:void(0)" style="color: #fff; text-decoration: none; font-size: 12px;">تماس با ما</a>
                                    </div>
                                    <div>
                                        <p style="font-size: 12px; color: #e1e1e1;">&#169; تمامی حقوق متعلق به تیم توسعه و طراحی ما می‌باشد.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>